<ion-view>
  <ion-nav-title>test</ion-nav-title>
  <ion-content>
    <div class="list list-inset light-border">
      <div class="item item-image">
        <img src="images/logo.png">
      </div>
      <div class="item item-text-wrap">
        帕启拉正是看中了这方面的市场需求，提前投入大量的研发力量，开发了一款基于物联网云平台的智能家电云平台，大大降低中小型家电企业智能化升级的研发投入和研发时间，并提供一站式代维服务
      </div>
      <div class="item item-text-wrap">
        电话：400-1680000 <br />
        地址：上海市 <br/>
        联系人：张三
      </div>
    </div>
  </ion-content>
</ion-view>
