<ion-view>
  <ion-nav-title>
    请输入WIFI密码
  </ion-nav-title>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">SSID：</span>
        <input type="text" ng-model="SSID.ssid">
      </label>
      <label class="item item-input">
        <span class="input-label">密码：</span>
        <input type="password" ng-model="SSID.pwd">
      </label>
      <label class="item">
        <button class="button button-block button-positive" ng-click="connect()">连接设备...</button>
      </label>
    </div>
  </ion-content>
</ion-view>
